.one{
    width: 100%;
    height: 130vh;
    background-color: white;
    .box{
        width: 42%;
        border-bottom: 1px solid gray;
        a{
            text-decoration: none;
            color: black;
            transition: 0.2s;
            &:hover{
                color: #0085A1;
            }
            h2{
                font-size: 43px;
                font-weight: 800;
            }
            p{
                font-size: 28px;
            }
        }
        .pasted{
            font-style: italic;
        }
    }
    button{
        border: none;
        background-color: #0085A1;
        margin-left: 500px;
        transition: 0.3;
        a{
            color: white;
            font-weight: 600;
            text-decoration: none;
        }
        &:hover{
            background-color: #004e5e;
        }

    }
}
@media only screen and (max-width: 600px) {
    .one{
        height: 180vh;
        button{
            display: none;
        }
        .box{
            max-width: 34%;
            border-bottom: 1px solid gray;
            a{
                text-decoration: none;
                color: black;
                transition: 0.2s;
                &:hover{
                    color: #0085A1;
                }
                h2{
                    font-size: 23px;
                    font-weight: 800;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
  }